/*编辑插件css*/
.editorTipsItem{
    font-size: 17px;
}
textarea{
    min-height:80px;
}
.confirmEditContainer {
    width: 70%;
    position: relative;
    background-color: white;
    padding: 10px;
    display: none;
    top: 100px;
    z-index: 20;
    border-radius: 8px;
    overflow: scroll;
}

.change-to {
    width: 50px;
}

.changes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.change {

}
.change>textarea {
    width: 100%;
    height: 250px;
    min-height: 40px;
}
.option-input{
    width: 90%;
    min-width: 230px;
}
.confirmEditHeader {
    display: block;
}
.confirmEditBtn{
    margin-left: 5px;
}
.editorTipsItem{
    margin: 1px;
    margin-left:13px;
    font-size: 13px;
}

.edit-button-set{
    margin-top: 5px;
}